body {
  font-family: "PT Sans", sans-serif;
  color: whitesmoke;
  background-color: black;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4.5em;
  padding: 16px;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
}

main {
  position: fixed;
  top: 4.5em;
  left: 0;
  width: 100vw;
  height: calc(100vh - 7.5em);
  overflow-y: auto;
}

.headerIcon {
  height: 40px;
  padding-right: 16px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 3em;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 32px;   */
}

.bookstore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bookCard {
  background-color: #0d3240;
  border-radius: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 240px;
}

.bookCardTitle {
  display: flex;
  justify-content: center;
}

.bookCardPic {
  display: flex;
  justify-content: center;
  border-bottom: solid;
  border-bottom-color: rgb(107, 116, 241);
}

.bookCardIcon {
  width: 80px;
}

.priceLikesContainer {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.bookPrice {
  color: red;
  font-weight: bold;
}
.priceLikesContainer img {
  height: 24px;
}

.priceLikesContainer p {
  font-size: 12px;
  padding-right: 8px;
}

.authorYearGenreContainer {
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.commentSection {
  font-weight: bold;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}
.commentSection input {
  margin-top: 4px;
  width: 90%;
  font-size: 12px;
}

.commentSection img {
  height: 14px;
  filter: invert(100%);
  margin-top: 4px;
}

.comments {
  width: 100%;
  height: 100px;
  font-size: 10px;
  font-weight: 400;
  overflow: auto;
}

.comments td {
  vertical-align: top;
}
