/* pt-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/pt-sans-v17-latin-regular.woff2") format("woff2"),
      url("../assets/fonts/pt-sans-v17-latin-regular.ttf") format("truetype");
  }
  
  /* pt-sans-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/pt-sans-v17-latin-700.woff2") format("woff2"),
      url("../assets/fonts/pt-sans-v17-latin-700.ttf") format("truetype");
  }
  
  /* viga-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Viga";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/viga-v14-latin-regular.woff2") format("woff2"),
      url("../assets/fonts/viga-v14-latin-regular.ttf") format("truetype");
  }
